* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.4em;
    font-size: 24px;
    overflow-x: hidden;
    background: #404040;
    padding: .5em 1em;
	margin-bottom: 65px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: .1em 1em;
}

h1 {
    display: inline-block;
    margin-left: 10px;
}

h2 {
    margin: 0 0 .2em 0;
    color: white;
    text-shadow: 1px 1px 0 #000;
    font-size: 2em;
}

.clear {
    clear: both;
}

.head {
}

.head th {
}

.dash {
}

.dash_wrapper {
    background: white;
    padding: .2em;
    -moz-border-radius: .5em;
    -webkit-border-radius: 10px;
    border-radius: 8px;
}

.dash_unhandled {
    clear: both;
    width: 100%;
}

.dash_unhandled .dash_wrapper {
    margin-bottom: 1em;
}

.dash_tactical_overview {
    float: right;
}

.dash_unhandled_hosts {
    width: 100%;
    float: left;
}

.dash_tactical_overview .dash_wrapper {
    margin-bottom: 0em;
}

.dash_unhandled_service_problems {
    clear: both;
    margin-top: 0em;
}

.dash_table_head {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* W3C */
    color: #181818;
    text-shadow: 1px 1px 0 #ededed;
}

.dash_table_head th {
    padding: .2em 1em;
    border-bottom: 1px solid #757575;
    border-right: 2px groove #aaa;
}

.dash_table_head th:first-child {
    border-left: none;
}

.dash_table_head th:last-child {
    border-right: none;
}

.critical {
    background: #af1000; /* Old browsers */
    background: -moz-linear-gradient(top, #af1000 0%, #8f0222 44%, #990000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #af1000), color-stop(44%, #8f0222), color-stop(100%, #990000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #af1000 0%, #8f0222 44%, #990000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #af1000 0%, #8f0222 44%, #990000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #af1000 0%, #8f0222 44%, #990000 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#af1000', endColorstr = '#990000', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #af1000 0%, #8f0222 44%, #990000 100%); /* W3C */
    color: white;
    text-shadow: 1px 1px 0 #5f0000;
}

.critical td {
    border-right: 1px solid #6f0000;
    border-bottom: 1px solid #6f0000;
}

.unknown {
    background: #f88017; /* Old browsers */
    background: -moz-linear-gradient(top, #f88017 0%, #e56717 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f88017), color-stop(100%, #e56717)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f88017 0%, #e56717 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f88017 0%, #e56717 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f88017 0%, #e56717 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f88017', endColorstr = '#e56717', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #f88017 0%, #e56717 100%); /* W3C */
    color: black;
}

.unknown td {
    border-right: 1px solid #6f0000;
    border-bottom: 1px solid #6f0000;
}

.ok {
    background: #00b400; /* Old browsers */
    background: -moz-linear-gradient(top, #00b400 0%, #018f00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b400), color-stop(100%, #018f00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00b400 0%, #018f00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00b400 0%, #018f00 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #00b400 0%, #018f00 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00b400', endColorstr = '#018f00', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #00b400 0%, #018f00 100%); /* W3C */
    color: white;
    text-shadow: 1px 1px 0 #015f00;
}

.neutral {
    background: #cccccc; /* Old browsers */
    color: black;
}

.neutral td {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.warning {
    background: #fff200; /* Old browsers */
    background: -moz-linear-gradient(top, #fff200 0%, #edef00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff200), color-stop(100%, #edef00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff200 0%, #edef00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff200 0%, #edef00 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fff200 0%, #edef00 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fff200', endColorstr = '#edef00', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #fff200 0%, #edef00 100%); /* W3C */;
    color: black;
    text-shadow: -1px -1px 0 #feff5f;
}

.unreachable {
    background: #E066FF; /* Old browsers */
    background: -moz-linear-gradient(top, #E066FF 0%, #800080 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E066FF), color-stop(100%, #800080)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #E066FF 0%, #800080 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #E066FF 0%, #800080 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #E066FF 0%, #800080 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#E066FF', endColorstr = '#800080', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #E066FF 0%, #800080 100%); /* W3C */;
    color: white;
    text-shadow: -1px -1px 0 black;
}

.critical td,
.ok td,
.warning td {
}

.warning td {
    border-bottom: 1px solid #bdbf00;
    border-right: 1px solid #bdbf00;
}

.ok td {
    border-bottom: 1px solid #016f00;
    border-right: 1px solid #016f00;
}

.date {
    white-space: nowrap;

}

.statusinfo {
    font-size: 14px !important;
}

.nagios_statusbar {
    background: #6a6a6a; /* Old browsers */
    background: -moz-linear-gradient(top, #6a6a6a 0%, #464646 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a6a6a), color-stop(100%, #464646)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6a6a6a 0%, #464646 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6a6a6a 0%, #464646 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #6a6a6a 0%, #464646 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#6a6a6a', endColorstr = '#464646', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #6a6a6a 0%, #464646 100%); /* W3C */
    position: fixed;
    width: 100%;
    margin: 0 0 0 -1em;
    height: 60px;
    text-align: right;
    border-top: 1px solid #818181;
    opacity: .9;
    bottom: 0;
}

.nagios_statusbar_item {
    border-left: 2px groove #000;
    height: 60px;
    line-height: 60px;
    padding: 0 1em;
    color: white;
    text-shadow: 1px 1px 0 black;
    position: relative;
    float: right;
}

.nagios_statusbar_logo {
    height: 60px;
    line-height: 60px;
    color: white;
    position: relative;
    float: left;
    bottom: 0px;
}

#nagios_placeholder {
}

#logo_holder {
}

#logo {
    background: transparent url(logo.pngx) no-repeat left center;
    width: 271px;
    height: 60px;
    position: absolute;
}

#loading {
    background: transparent url(throbber.gif) no-repeat center center;
    width: 32px;
    height: 60px;
    position: absolute;
}

#refreshing {
    padding-left: 35px;
}

#refreshing_countdown {
}

#timestamp_wrap {
    cursor: default;
    font-size: 3em;
}

.timestamp_stamp {
}

.nowrap {
    white-space: nowrap;
}

.top {
    border-top: white solid 2px;
}

.bottom {
    border-bottom: white solid 2px;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.hide {
    display: none;
}

@media only screen and (min-width: 1525px){
    .hide {
        display: block;
    }
}
